/*
 博主：张剑梅
 */
body {
	padding: 0;
	margin: 0;
	background-color: lightgray;
	/* 设置页面整体背景颜色 */
}

header {
	width: 1024px;
	height: 157px;
	background-color: #fff;
	margin: 0 auto;
	/* 头部居中 */
	border-bottom: 1px solid darkgrey;
}

header .logo {
	width: 200px;
}

header .logo img {
	float: left;
	margin-left: 40px;
}

header .nav {
	box-sizing: border-box;
	width: 710px;
	height: 157px;
	overflow: hidden;
	padding-top: 30px;
	margin-right: 20px;
}

header .nav ul {
	list-style: none;
	margin-left: 80px;
}

header .nav ul li {
	border-top: 1px solid black;
	float: left;
	padding: 10px 50px 10px 40px;
	border-bottom: 1px solid black;
}

header .nav .first {
	color: darkgreen;
}

header .nav ul li a {
	text-decoration: none;
	color: gray;
}

header .nav ul li a:hover {
	color: darkgreen;
	/* 点击后颜色样式 */
}

.contact {
	width: 1024px;
	height: 700px;
	margin: 0 auto;
	background-color: #fff;
}

.contact font {
	width: 984px;
	display: inline-block;
	/* font是行间元素，故需要设置display */
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	color: #333333;
	margin: 15px 0 10px 40px;
	padding-bottom: 10px;
	border-bottom: 2px solid seagreen;
}

.contact ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.contact ul li {
	margin: 10px 0 10px 40px;
	color: gray;
	font-size: 13px;
}

#allmap {
	width: 950px;
	height: 500px;
	margin: 0 auto;
}

footer {
	width: 1024px;
	height: 24px;
	background-color: #fff;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
	color: #000;
	font-family: arial;
}
