/*
 博主：张剑梅
 */
body {
	padding: 0;
	margin: 0;
	background-color: lightgray;
	/* 设置页面整体背景颜色 */
}
.fixed{
	top: 205px;
}
header {
	width: 1024px;
	height: 157px;
	background-color: #fff;
	margin: 0 auto;
	/* 头部居中 */
	border-bottom: 1px solid darkgrey;
}

header .logo {
	width: 200px;
}

header .logo img {
	float: left;
	margin-left: 40px;
}

header .nav {
	box-sizing: border-box;
	width: 710px;
	height: 157px;
	overflow: hidden;
	padding-top: 30px;
	margin-right: 20px;
}

header .nav ul {
	list-style: none;
	margin-left: 80px;
}

header .nav ul li {
	border-top: 1px solid black;
	float: left;
	padding: 10px 50px 10px 40px;
	border-bottom: 1px solid black;
}

header .nav .first {
	color: darkgreen;
}

header .nav ul li a {
	text-decoration: none;
	color: gray;
}

header .nav ul li a:hover {
	color: darkgreen;
	/* 点击后颜色样式 */
}

.container {
	width: 1024px;
	background-color: #fff;
	margin: 0 auto;
	/* 内容页面整体居中显示 */
	overflow: hidden;
	/* 清除浮动 */
	/* 	height: 1800px;
	/* 整体内容的宽度，可修改 */
	*/
}

.container .menu {
	float: left;
	width: 300px;
}
.container .menu .menu-content{
	position: fixed;
	/* left: 248px; */
	top: 208px;
}
.container .menu .type {
	width: 200px;
	margin: 20px 50px 10px 20px;
	border-bottom: 3px solid seagreen;
	/* 下边框的颜色        */
	padding-bottom: 5px;
	/* color: mediumseagreen; */
}

.container .menu .type font {
	font-family: "arial black";
	font-size: 15px;
	font-weight: bold;
	color: darkgrey;
}

.container .menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	/* 消除ul、li自身的间距 */
	width: 200px;
	margin-left: 20px;
}

.container .menu ul li {
	margin: 0;
	box-sizing: border-box;
	padding: 3px 0 5px 0;
	border-bottom: 1px dashed darkseagreen;
}

.container .menu ul a {
	text-decoration: none;
	color: gray;
	font-family: arial;
	font-size: 13px;
}

.container .menu ul a:hover {
	color: seagreen;
}

.container .menu .timg {
	margin-left: 20px;
}

.container .menu .introduce {
	margin: 5px 0 5px 0;
}

.container .menu .introduce ul li {
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 3px 0 2px 0;
	font-family: arial;
	font-size: 13px;
	color: grey;
	border: none;
}


.container .blog {
	float: right;
	width: 724px;
	/* height: 1200px; */
}

.container .blog .item {
	width: 650px;
}

.container .blog .item b {
	font-weight: normal;
	display: inline-block;
	font-family: "agency fb";
	font-size: 24px;
	color: seagreen;
	margin: 5px 0 5px 5px;
}

.container .blog .item .item-1 {
	font-family: "agency fb";
	font-size: 13px;
	color: gray;
	text-indent: 2em;
}

#xx {
	width: 350px;
	height: 50px;
	box-sizing: border-box;
	display: block||inline-block;
	margin: 20px 0 0 20px;
	font-size: 15px;
	line-height: 25px;
	color: #E9967A;
	text-align: center;
	padding: 10px 0 10px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-indent: 2em;
}

#xx a {
	color: #2E8B57;
	margin: 5px;
}

#xx a:hover {
	color: chocolate;
}

#yy {
	width: 550px;
	height: 20px;
	box-sizing: border-box;
	display: block||inline-block;
	margin: 10px 0 0 0;
	font-size: 15px;
	line-height: 25px;
	color: #E9967A;
	text-align: center;
	padding: 10px 0 10px 0;
	text-indent: 2em;
}

.readall {
	color: #E9967A;
	font-size: 15px;
	text-decoration: none;
}

.readall:hover {
	color: seagreen;
	text-decoration: underline;
}

footer {
	width: 1024px;
	height: 24px;
	background-color: #fff;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
	color: #000;
	font-family: arial;
}
